body {
    background-image: url("./Images/wallpaper_4k_darksiders_warmastered_edition-scaled.jpg");
    background-size: cover;
    background-position: center;
    
    
    
  }
  .container {
    margin-top: 150px;
    text-align: center;
    color: white;
  }
  .h1 {
    font-size: 48px;
    margin-bottom: 30px;
    color: white;
  }
  .p {
    font-size: 24px;
    color: white;
  }
  .navbar-nav.ml-auto {
    margin-right: 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }







.card {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
  }
  
  .card:hover img {
    transform: scale(1.2);
    filter: brightness(0.7);
  }
  
  .card:hover .card-body {
    transform: translateY(-50%);
  }
  
  .card-img-top {
    transition: all 0.5s ease-in-out;
  }
  
  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transform: translateY(0%);
  }
  .card-body h5,
  .card-body p {
    margin: 0;
  }
  